div:nth-of-type(1) {
    color: blue;
    text-align: center;
    font-style: italic;
}
div:nth-of-type(2) {
    color: red;
    text-align: center;
}
div:nth-of-type(3) {
    color: pink;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
div:nth-of-type(4) {
    color:gray;
    text-align: center;
}
div:nth-of-type(5) {
    color: goldenrod;
    text-align: center;
    font-style: italic;
}
div:hover {
    border: 5px solid;
}